<?xml version="1.0"?>
<menu>
  <item id="0">
    <name>Home</name>
    <link>index.html</link>3
    <subItems>
      <subItem id="0">
        <name>Storyline</name>
        <link>index.html#Storyline</link>
      </subItem>
      <subItem id="1">
        <name>Cast</name>
        <link>index.html#Cast</link>
      </subItem>
      <subItem id="2">
        <name>Produced</name>
        <link>index.html#Produced</link>
      </subItem>
    </subItems>
  </item>

  <item id="1">
    <name>Guy Ritchie</name>
    <link>director.html</link>
    <subItems></subItems>
  </item>

  <item id="3">
    <name>Facts</name>
    <link>facts.html</link>
    <subItems></subItems>
  </item>

  <item id="3">
    <name>Photo</name>
    <link>photo.html</link>
    <subItems></subItems>
  </item>

  <item id="4">
    <name>Video</name>
    <link>video.html</link>
    <subItems></subItems>
  </item>

  <item id="5">
    <name>My Review</name>
    <link>"my review.html"</link>
    <subItems></subItems>
  </item>

  <item id="6">
    <name>Reviews</name>
    <link>reviews.html</link>
    <subItems></subItems>
  </item>

  <item id="7">
    <name>Registration</name>
    <link>registration.html</link>
    <subItems></subItems>
  </item>
</menu>