<?xml version="1.0"?>
<menu>
  <item id="0">1
    <name>Home</name>2
    <link>index.html</link>3
    <subItems>5
      <subItem id="0">6
        <name>Storyline</name>7
        <link>index.html#Storyline</link>8
      </subItem>9
      <subItem id="1">10
        <name>Cast</name>11
        <link>index.html#Cast</link>12
      </subItem>13
      <subItem id="2">14
        <name>Produced</name>15
        <link>index.html#Produced</link>16
      </subItem>17
    </subItems>18
  </item>19

  <item id="1">
    <name>Guy Ritchie</name>
    <link>director.html</link>
    <subItems></subItems>
  </item>

  <item id="3">
    <name>Facts</name>
    <link>facts.xml</link>
    <subItems></subItems>
  </item>

  <item id="3">
    <name>Photo</name>
    <link>photo.html</link>
    <subItems></subItems>
  </item>

  <item id="4">
    <name>Video</name>
    <link>video.html</link>
    <subItems></subItems>
  </item>

  <item id="5">
    <name>My Review</name>
    <link>"my review.html"</link>
    <subItems></subItems>
  </item>

  <item id="6">
    <name>Reviews</name>
    <link>reviews.html</link>
    <subItems></subItems>
  </item>

  <item id="7">
    <name>Registration</name>
    <link>registration.html</link>
    <subItems></subItems>
  </item>
</menu>